packages:
    yum:
        git: []
        gcc: []
        postgresql-libs: []
        postgresql-devel: []
        python3-devel: []
        libcurl-devel: []
        openssl-devel: []
        libjpeg-turbo-devel: []
        bzip2-devel: []
        libffi-devel: []
        openssl-static.x86_64: []
        polkit: []
        mariadb-devel: []
        mesa-libGL: []

commands:
    pip_upgrade:
        command: "source /var/app/venv/*/bin/activate && pip install --upgrade pip"
    setuptools_install:
        command: "source /var/app/venv/*/bin/activate && pip install setuptools"

container_commands:
    01_wsgipass:
        command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'
    02_migrate:
        command: "source /var/app/venv/*/bin/activate && python3 manage.py migrate"
        leader_only: true

option_settings:
  - namespace: aws:elasticbeanstalk:command
    option_name: Timeout
    value: 3000
  - namespace: aws:elasticbeanstalk:container:python
    option_name: WSGIPath
    value: config.wsgi:application

