option_settings:
    aws:elasticbeanstalk:application:environment:
        PYTHONPATH: "/var/app/current:$PYTHONPATH"

        DJANGO_SETTINGS_MODULE: "config.settings.develop"
        DJANGO_ALLOWED_HOSTS: "*"
        DJANGO_ADMIN_URL: "admin/"

        DATABASE_URL: ""
        DJANGO_SECRET_KEY: ""
        DJANGO_AWS_ACCESS_KEY_ID: ""
        DJANGO_AWS_SECRET_ACCESS_KEY: ""
        DJANGO_AWS_STORAGE_BUCKET_NAME: ""

        REDIS_URL: ""
        SENTRY_DSN: ""
