commands:
    01_install_pycurl:
        command: "source /var/app/venv/staging-LQM1lest/bin/activate && export CPPFLAGS=-I/usr/local/opt/openssl/include && export LDFLAGS=-L/usr/local/opt/openssl/lib && pip install pycurl --global-option='--with-openssl'"
    02_install_celery:
        command: "source /var/app/venv/*/bin/activate && pip install celery[sqs]"
    03_django_celery_beat:
        command: "source /var/app/venv/*/bin/activate && pip install django-celery-beat"
    04_django_celery_results:
        command: "source /var/app/venv/*/bin/activate && pip install django-celery-results"

container_commands:
    01_mkdir_for_log_and_pid:
        command: "mkdir -p /var/log/celery/ /var/run/celery/"
    02_change_mode_of_celery_directories:
        command: chmod -R 755 /var/log/celery /var/run/celery
    03_celery_configure:
        command: "chmod 744 .platform/hooks/postdeploy/00-celery.sh"
    04_celery_beat_configure:
        command: "chmod 744 .platform/hooks/postdeploy/01-celery-beat.sh"
    05_reload_settings:
        command: systemctl daemon-reload
