files:
    /usr/local/bin/post_hourly_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
            source $PYTHONPATH/activate
            python3 /var/app/current/manage.py ranking_group_post_hourly

    /etc/cron.d/ranking_group_post_hourly_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            30 * * * * root /usr/local/bin/post_hourly_script.sh >> /var/log/post_hourly.log 2>&1

    /usr/local/bin/post_daily_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
            source $PYTHONPATH/activate
            python3 /var/app/current/manage.py ranking_group_post_daily

    /etc/cron.d/ranking_group_post_daily_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            0 6 * * * root /usr/local/bin/post_daily_script.sh >> /var/log/post_daily.log 2>&1

    /usr/local/bin/post_grade_badge_script.sh:
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            export $(cat /opt/elasticbeanstalk/deployment/env | xargs)
            source $PYTHONPATH/activate
            python3 /var/app/current/manage.py post_grade_badge_daily

    /etc/cron.d/post_grade_badge_cron:
        mode: "000644"
        owner: root
        group: root
        content: |
            * 8 * * * root /usr/local/bin/post_grade_badge_script.sh >> /var/log/post_grade_badge.log 2>&1

commands:
  rm_old_cron:
    command: "rm -fr /etc/cron.d/*.bak"
    ignoreErrors: true
